<!DOCTYPE html>
<html lang="ru">
<head>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PRTJ277');</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">

<meta name="description" content="В прямом эфире обсудили серые схемы саратовских похоронщиков – самые достоверные новости Саратова в информационном агентстве «Свободные новости. FreeNews-Volga». Мы ежедневно рассказываем о новостях города и России">

<meta property="og:image" content="https://fn-volga.ru/f/i/news/logos/1487681417_988698598.jpg" />
<meta property="article:published_time" content="2017-02-21T14:25:00+0400" />
<meta property="article:modified_time" content="2017-02-21T16:52:00+0400" />
<link rel="image_src" type="" href="https://fn-volga.ru/f/i/news/logos/1487681417_988698598.jpg" />
<title>В прямом эфире обсудили серые схемы саратовских похоронщиков</title>
<link rel="canonical" href="https://fn-volga.ru/news/view/id/61283" /> <meta property="og:title" content="В прямом эфире обсудили серые схемы саратовских похоронщиков">
<meta property="og:url" content="https://fn-volga.ru/news/view/id/61283">
<meta property="fb:pages" content="291989224256023" />
<meta property="og:site_name" content="Свободные" />
<meta property="og:type" content="article" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="600" />
<meta property="twitter:site" content="@fnvolga" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="og:description" content="Депутат Саратовской городской думы Виктор Марков и журналист, сотрудница городской больницы №6 Виктория Федорова поделились своим мнением о нашумевшей истории с приездом к саратовской пенсионерке катафалка раньше бригады скорой помощи.">
<meta property="fb:app_id" content="431134850310574" />

<link sizes="57x57" href="/tpl/images/ico/apple-touch-icon-57x57.png" rel="apple-touch-icon">
<link sizes="60x60" href="/tpl/images/ico/apple-touch-icon-60x60.png" rel="apple-touch-icon">
<link sizes="72x72" href="/tpl/images/ico/apple-touch-icon-72x72.png" rel="apple-touch-icon">
<link sizes="76x76" href="/tpl/images/ico/apple-touch-icon-76x76.png" rel="apple-touch-icon">
<link sizes="114x114" href="/tpl/images/ico/apple-touch-icon-114x114.png" rel="apple-touch-icon">
<link sizes="120x120" href="/tpl/images/ico/apple-touch-icon-120x120.png" rel="apple-touch-icon">
<link sizes="144x144" href="/tpl/images/ico/apple-touch-icon-144x144.png" rel="apple-touch-icon">
<link sizes="152x152" href="/tpl/images/ico/apple-touch-icon-152x152.png" rel="apple-touch-icon">
<link sizes="180x180" href="/tpl/images/ico/apple-touch-icon-180x180.png" rel="apple-touch-icon">

<link rel="icon" type="image/png" sizes="180x180" href="/tpl/images/ico/favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/tpl/images/ico/favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/tpl/images/ico/favicon.png">
<link rel="shortcut icon" href="/tpl/images/ico/favicon.ico">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;amp;subset=cyrillic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&amp;amp;subset=cyrillic" rel="stylesheet">

<link href="/tpl/template_styles.css?1056" rel="stylesheet">
<link href="/public_files/front/front/styles/poll/view.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
        .post-item--1to1.post-item--1to1 {
            border-bottom: 1px solid #e6e6e6;
        }

        @media print {
            /*div.article-body-printed {
                page-break-before: always;
            }*/
            header,
            div.btn-close,
            div.reaction-action,
            div.article-footer,
            div.banner.banner-wide,
            div.post-item:not(.post-item--printed),
            iframe,
            div.post-box,
            div.sidebar,
            a.subs-block,
            div.message,
            div.btn-reload,
            div.post-block__title,
            div.banner-block,
            div.reaction,
            a.btn.btn-close,
            div.swiper-container,
            div.banner.banner--separation,
            div.meta-item.meta-item--symbol,
            .meta-item.meta-item--symbol,
            .mejs__audio,
            div.attention-block,
            footer {
                display: none !important;
            }

            div.post-item.post-item--1to1 {
                border-top: 0 !important;
                padding: 0 !important;
                margin: 0 !important;
            }

            .post-item--1to1 {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }

            .page-content {
                padding-top: 0 !important;
            }
        }
    </style>
<script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '932642053594898');
        fbq('track', 'PageView');
    </script>
<noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=932642053594898&ev=PageView&noscript=1"/>
    </noscript>
<script type="text/javascript">!function () {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = "https://vk.com/js/api/openapi.js?159", t.onload = function () {
                VK.Retargeting.Init("VK-RTRG-280219-glNLl"), VK.Retargeting.Hit()
            }, document.head.appendChild(t)
        }();</script>
<noscript><img src="https://vk.com/rtrg?p=VK-RTRG-280219-glNLl" style="position:fixed; left:-999px;" alt=""/>
    </noscript>
<link href="/public_files/fotorama/fotorama.css" rel="stylesheet">
<script src="/public_files/fotorama/fotorama.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43242170-1"></script>
<script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-43242170-1');
    </script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8454075417621594",
            enable_page_level_ads: true
        });
    </script>


</head>
<body class=""><script type="text/javascript" src="/tpl/js/lib.min.js?1056"></script>
<script type="text/javascript" src="/public_files/front/front/scripts/poll/view.js?1056"></script>
<script type="text/javascript" src="/tpl/js/news_stat.js?1056"></script>
<script type="text/javascript" src="/tpl/js/main.js?1056"></script>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRTJ277"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<div class="banner banner-wide" data-banner-scope data-banner-id="7" style="display: none"></div>
<header class="page-header">
<div class="header-mobile">
<a class="header-logo" href="/"></a>
<div class="nav-toggler">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>
<div class="header-wrap">
<a class="header-logo" href="/"></a>
<div class="header-nav">
<ul class="menu-primary">
<li class="menu-primary__item ">
<a href="/news/popular">Популярное</a>
</li>
<li class="menu-primary__item ">
<a href="/news/category/news">
Новости
</a>
</li>
<li class="menu-primary__item ">
<a href="/news/category/text">
Тексты
</a>
</li>
<li class="menu-primary__item ">
<a href="/news/category/video">
Видео
</a>
</li>
<li class="menu-primary__item">
<div class="btn-filter" data-action="subnav">Еще</div>
<ul class="sub-nav">
<li class="sub-nav__item ">
<a href="/news/important">Важное</a>
</li>
<li class="sub-nav__item ">
<a href="/news/ogo">Ого!</a>
</li>
<li class="sub-nav__item">
<a href="/news/messages">
Повестка
</a>
</li>
<li class="sub-nav__item">
<a href="/news/category/photo">
Фоторепортажи
</a>
</li>
<li class="sub-nav__item"><a href="/news/category/project">Проекты</a></li>
<li class="sub-nav__item"><a href="/news/category/vote">Опросы</a>
</li>
<li class="sub-nav__item"><a href="/news/category/games">Игры</a>
</li>
 <li class="sub-nav__item"><a href="/news/category/podcasts">Подкасты</a></li>
<li class="sub-nav__item"><a href="/newspapers">Газета недели в Саратове» (архив)</a>
</li>
</ul>
</li>
</ul>
<div class="search-field" data-toggle="modal" data-target="#search">
<span>Поиск</span>
<div class="symbol symbol--search">
<svg>
<use xlink:href="#icon-search"></use>
</svg>
</div>
</div>
<ul class="menu-secondary">
<li class="menu-secondary__item">
<a href="/contacts">Сообщить новость</a>
</li>
<li class="menu-secondary__item">
<a href="" onclick="return false;" sp-show-form="103249">Подписка на новости</a>
</li>
<li class="menu-secondary__item">
<a href="/advertising">Реклама</a>
</li>
<li class="menu-secondary__item">
<a href="/about">Редакция</a>
</li>
</ul>
</div>
<div class="header-social">
<ul class="menu-social">
<li class="menu-social__item">
<a target="_blank" class="symbol symbol--social symbol--small" href="https://www.instagram.com/fnvolga.ru/">
<svg>
<use xlink:href="#inst"></use>
</svg>
</a>
</li>
<li class="menu-social__item">
<a target="_blank" class="symbol symbol--social symbol--small" href="https://twitter.com/fnvolga/">
<svg>
<use xlink:href="#twitter"></use>
</svg>
</a>
</li>
<li class="menu-social__item">
<a target="_blank" class="symbol symbol--social symbol--small" href="https://ok.ru/fnvolga">
<svg>
<use xlink:href="#ok"></use>
</svg>
</a>
</li>
<li class="menu-social__item">
<a target="_blank" class="symbol symbol--social symbol--small" href="https://www.facebook.com/fnvolga">
<svg>
<use xlink:href="#facebook"></use>
</svg>
</a>
</li>
<li class="menu-social__item">
<a class="symbol symbol--social symbol--small" target="_blank" href="https://www.youtube.com/fnvolga">
<svg>
<use xlink:href="#youtube"></use>
</svg>
</a>
</li>
<li class="menu-social__item">
<a target="_blank" class="symbol symbol--social symbol--small" href="https://vk.com/fnvolga">
<svg>
<use xlink:href="#vkontakte"></use>
</svg>
</a>
</li>
</ul>
</div>
</div>
</header>
<div class="page-content">
<div class="btn btn-close" data-target="comment">
<div class="symbol symbol--medium symbol--close">
<svg>
<use xlink:href="#close"></use>
</svg>
</div>
</div>
<aside class="comments-sidebar">
<div class="comments-header">
<h2>Комментарии</h2>
</div>
<div class="form-layout">
<form id="formComment" action="/news/comment/">
 <div class="form-row">
<div class="col-xs-12 col-sm-12 col-md-12">
<textarea class="form-field" placeholder="Написать комментарий" id="comment_text" name="Comment[true_text]"></textarea>
</div>
</div>
<input value="2" name="Comment[type]" id="Comment_type" type="hidden">
<input value="" name="Comment[topic_id]" id="Comment_topic_id" type="hidden">
<input value="" id="Comment_parent_id" name="Comment[parent_id]" type="hidden">
<div class="form-row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
<input id="comment_name" name="Comment[name]" class="form-field" type="text" placeholder="Имя">
</div>
</div>
<div class="form-row">
<div class="col-xs-12 col-sm-12">
<div class="captcha" id="gCaptcha"></div>
</div>
</div>
<div class="form-footer">
<div class="col-xl-3"></div>
<div class="col-xl-9">
<button type="submit" class="btn btn-small btn-action">Оставить комментарий</button>
<p>При размещении комментариев, необходимо соблюдать <a href="https://fn-volga.ru/legal/#2" target="_blank">наши
Правила</a></p>
</div>
</div>
</form>
</div>
<div class="comments-list" data-comment-scope></div>
</aside>
<div class="comment" hidden>
<div class="comment-header">
<div class="meta">
<div class="meta-item">
<div class="timestamp">{{data}}</div>
</div>
<div class="meta-item meta-item--tag">
<div class="tag">{{name}}</div>
</div>
</div>
</div>
<div class="comment-body">
<div class="article-body">
<p>{{text}}</p>
</div>
</div>
<div class="comment-foot">
<a href="#">Ответить</a>
</div>
</div> <div class="page-section">
<div class="wrap">
<div class="post-block" data-news-common-block>
<script>
                        //appFn.ajaxEnable = false;
                        var currentNewsId;

                        $(document).ready(function () {
                            currentNewsId = $('[data-open-news]').data('openNews');
                            if (currentNewsId) {
                                try {
                                    news.swiper.init();
                                } catch (e) {

                                }

                                if ($('[data-news-audio]').length) {
                                    $('[data-news-audio]').mediaelementplayer();
                                }

                                $(News.selectors.pseudoLink).each(function () {
                                    var link = $(this).data('href');
                                    $(this).html('<a href="' + link + '" target="_blank">' + $(this).html() + '</a>');
                                });

                                if (window.localStorage.getItem('emotion_' + currentNewsId)) {
                                    $(Emotion.selectors.likeButton).attr('disabled', 'disabled').prop('disabled', true);
                                }
                                Emotion.get(currentNewsId, function (emotions) {
                                    news.id = currentNewsId;
                                    news.bindEmotion(emotions);

                                    $.each(emotions.data, function (emotion, rate) {
                                        var $_scope = $('[data-emotion="' + emotion + '"]');
                                        if ($_scope.length) {
                                            if (rate > 0) {
                                                appFn.showElement($_scope);
                                            }
                                            $_scope.find('span').text(rate);
                                        }
                                    })
                                });
                            }

                            News.wrapIframes($('[data-news-common-block]'));

                            var lastGalleryId = 1;
                            $(document).unbind('click.fb-start');
                            $('.swiper-container').each(function () {
                                var galleryRel = 'group_'+lastGalleryId;
                                lastGalleryId++;

                                $(this).find('a[data-fancybox="gallery"]').prop('rel', galleryRel).attr('rel', galleryRel);
                                $('[rel="'+galleryRel+'"]').fancybox({
                                    backFocus: false,
                                });
                            });


                            $('[data-news-next]').trigger('click');
                            setTimeout(function () {
                                if($(News.selectors.listItems).length >= 30) {
                                    $('[data-news-next]').show();
                                    Banner.getList();
                                }
                            }, 3000);
                        });
                    </script>
<div class="post-item post-item--1to1" data-open-news="61283">
<div class="article-layout">
<div class="article-header">
<a href="/" class="btn btn-close" data-news-detail-close>
<div class="symbol symbol--close">
<svg>
<use xlink:href="#close"></use>
</svg>
</div>
</a>
</div>
<div class="article-body article-body-printed">
<h1 class="article-title">В прямом эфире обсудили серые схемы саратовских похоронщиков</h1>
<div class="article-meta">
<div class="meta">
<div class="meta-item">
<div class="timestamp">
21.02.2017, 14:25 </div>
</div>
<div class="meta-item meta-item--tag">
<a class="tag" href="/news/category/news">
Новости </a>
</div>
</div>
<div class="meta meta--action">
<div class="meta-item meta-item--symbol">
<div class="symbol symbol--small icon-views">
<svg>
<use xlink:href="#views"></use>
</svg>
</div>
<span>1211</span>
</div>
<a class="meta-item meta-item--symbol" href="#" data-action="comment" data-news-id="61283">
<div class="symbol symbol--small icon-comm">
<svg>
<use xlink:href="#comm"></use>
</svg>
</div>
<span>0</span>
</a>
</div>
</div>
<div class="reaction">
<div class="reaction-popup">
<div class="reaction-popup__item" data-set-emotion="like">
<div class="symbol symbol--medium">
 <svg>
<use xlink:href="#like"></use>
</svg>
</div>
</div>
<div class="reaction-popup__item" data-set-emotion="lol">
<div class="symbol symbol--medium">
<svg>
<use xlink:href="#lol"></use>
</svg>
</div>
</div>
<div class="reaction-popup__item" data-set-emotion="fire">
<div class="symbol symbol--medium">
<svg>
<use xlink:href="#fire"></use>
</svg>
</div>
</div>
<div class="reaction-popup__item" data-set-emotion="fuu">
<div class="symbol symbol--medium">
<svg>
<use xlink:href="#fuu"></use>
</svg>
</div>
</div>
<div class="reaction-popup__item" data-set-emotion="sad">
<div class="symbol symbol--medium">
<svg>
<use xlink:href="#sad"></use>
</svg>
</div>
</div>
</div>
<div class="reaction-list">
<div class="reaction-list__item" data-emotion="like" hidden="hidden">
<div class="symbol symbol--small">
<svg>
<use xlink:href="#like"></use>
</svg>
</div>
<span>0</span>
</div>
<div class="reaction-list__item" data-emotion="lol" hidden="hidden">
<div class="symbol symbol--small">
<svg>
<use xlink:href="#lol"></use>
</svg>
</div>
<span>0</span>
</div>
<div class="reaction-list__item" data-emotion="fire" hidden="hidden">
<div class="symbol symbol--small">
<svg>
<use xlink:href="#fire"></use>
</svg>
</div>
<span>0</span>
</div>
<div class="reaction-list__item" data-emotion="fuu" hidden="hidden">
<div class="symbol symbol--small">
<svg>
<use xlink:href="#fuu"></use>
</svg>
</div>
<span>0</span>
</div>
<div class="reaction-list__item" data-emotion="sad" hidden="hidden">
<div class="symbol symbol--small">
<svg>
<use xlink:href="#sad"></use>
</svg>
</div>
<span>0</span>
</div>
<div class="reaction-action" data-action="review">Оценить</div>
</div>
</div>
<div class="article-cover">
<figure data-position="ver">
<img loading="lazy" src="/f/i/news/logos/1487681417_988698598.jpg?1b2cb0f853cf00c6f44f8c7ab36e51a2" alt="В прямом эфире обсудили серые схемы саратовских похоронщиков">
<figcaption>Кадр видео oktv.media</figcaption>
</figure>
</div>
<div class="article-lead">
Депутат Саратовской городской думы Виктор Марков и журналист, сотрудница городской больницы №6 Виктория Федорова поделились своим мнением о нашумевшей истории с приездом к саратовской пенсионерке катафалка раньше бригады скорой помощи. </div>
<p>В понедельник, 20 февраля, в прямом эфире программы &laquo;Ход событий&raquo; на <a href="https://www.youtube.com/channel/UC-oW28YpH6V8SUZ4JV1V-AQ" target="_blank" target="_blank">&laquo;Открытом канале&raquo;</a> гости и ведущие обсудили рынок похоронных услуг в Саратове.</p>
<p>Депутат Саратовской городской думы Виктор Марков и журналист, сотрудница городской больницы №6 Виктория Федорова поделились своим мнением о нашумевшей истории с приездом к саратовской пенсионерке катафалка раньше бригады скорой помощи.</p>
<p>Гостья программы возмутилась тем, что ответственность понесли только медицинские работники. В свою очередь Виктор Марков обещал взять под личный контроль деятельность МУСПП &laquo;Ритуал&raquo;. По мнению участников эфира, в действиях похоронных служб усматривается возможное нарушение статьи 204 УК РФ &laquo;Коммерческий подкуп&raquo;.</p>
<p>Кроме того, в программе прозвучала информация о серых схемах похоронных служб, которые предлагают информаторам сумму от 4 до 10 тысяч рублей за сообщение о смерти. Журналисты выяснили, что имеет место практика предоплаты: когда руководители подразделений скорой помощи и полиции получают деньги от ритуальных агентств, а затем с использованием служебного положения заставляют подчиненных сообщать о смертельных случаях в конкретную организацию.</p>
<p>В своем комментарии для &laquo;Хода событий&raquo; директор МУСПП &laquo;Ритуал&raquo; Михаил Шулейкин заявил о невиновности сотрудников своей организации и назвал приезд катафалка раньше скорой помощи неэтичным.</p>
<p>Марков обратил внимание, что во взаимоотношениях медиков и гробовщиков нет ничего удивительного.</p>
<p>&laquo;Это смежники. Работники скорой помощи, которые констатируют смерть людей, сталкиваются со следующими в этой цепочке сотрудниками похоронных служб. Одни работают в рыночных условиях и хорошо зарабатывают, вторые являются бюджетниками, и зарплаты у них все хуже и хуже. Скорая помощь работает в экстремальных условиях за небольшие деньги. Экономика тут берет свое. Даже если есть запреты и моральные обязательства, все равно люди сотрудничают с похоронными организациями&raquo; &ndash; рассказал депутат.</p>
<p>В свою очередь Виктория Федорова обратила внимание на отсутствие кодекса чести у представителей ритуальных агентств и отступление от морали медицинских работников.</p>
<p>&laquo;Если это касается сотрудников скорой помощи, у которых деньги стоят на первом месте, то нужно прорабатывать культуру работы. И это зависит от главного врача&raquo;, - сказала она в эфире.</p>
<p>Журналист предложила развивать грамотность жителей города, которые в сложной жизненной ситуации должны понимать, куда им обратится за ритуальными услугами.</p>
<p>Полностью эфир программы &laquo;Ход Событий&raquo; можно <a href="https://www.youtube.com/watch?v=Ii6UNdZHSco" target="_blank" target="_blank">посмотреть на сайте &laquo;Открытого канала&raquo;</a>.</p>
<p><a href="https://www.youtube.com/watch?v=Ii6UNdZHSco" target="_blank"><img title="Переход на сайт Открытого канала" src="/f/i/news/images/1487681475_1142260321.jpg" alt="Переход на сайт Открытого канала" width="450" height="252" /></a></p>
</div>
<div class="article-footer">
<noindex>
<div class="subscription">
Добавьте нас в основные источники на
<a href="https://news.yandex.ru/index.html?from=rubric&amp;favid=254097453" target="_blank" rel="nofollow">Яндекс.Новости</a>
и в избранное на сервисе
<a href="https://news.google.com/publications/CAAqBwgKMIfRhgsw28aEAw" target="_blank" rel="nofollow">Google Новости</a>.
</div>
</noindex>
<div class="article-footer__box">
<button class="btn btn-small btn-action" type="button" data-action="comment" data-news-id="61283">
Оставить комментарий
</button>
<div class="social">
<div class="likely likely-big" data-title="В прямом эфире обсудили серые схемы саратовских похоронщиков" data-url="https://fn-volga.ru/news/view/id/61283">
<div class="facebook"></div>
<div class="vkontakte"></div>
<div class="twitter"></div>
<div class="odnoklassniki"></div>
</div>
</div>
</div>
<div class="post-block">
<a class="post-item post-item--1to3" href="/news/view/id/159362">
<div class="material">
<div class="material-content">
<div class="material-title">
<span>Сбившая ребенка Татьяна Бадаева назначена прокурором Перелюбского района</span>
</div>
<div class="material-meta">
<div class="meta">
<div class="meta-item">
<div class="timestamp">
19:18 </div>
</div>
<div class="meta-item meta-item--tag">
<div class="tag">Новости</div>
</div>
</div>
</div>
</div>
<div class="material-preview preview--picture">
<img loading="lazy" src="/f/i/news/logos/1613143418_425726511.jpg?303550e73ead95f0199bdb300c230ab5" alt="Сбившая ребенка Татьяна Бадаева назначена прокурором Перелюбского района">
</div>
</div>
</a>
<a class="post-item post-item--1to3" href="/news/view/id/159357">
<div class="material">
<div class="material-content">
<div class="material-title">
<span>«Балашоверъ»: Сына главы района Петракова приговорили к колонии за мошенничество</span>
</div>
<div class="material-meta">
<div class="meta">
<div class="meta-item">
<div class="timestamp">
18:31 </div>
</div>
<div class="meta-item meta-item--tag">
<div class="tag">Новости</div>
</div>
</div>
</div>
</div>
<div class="material-preview preview--picture">
<img loading="lazy" src="/f/i/news/logos/1613139895_2047022310.png?1642d24c4d42430b913b471766ef4f10" alt="«Балашоверъ»: Сына главы района Петракова приговорили к колонии за мошенничество">
</div>
</div>
</a>
<a class="post-item post-item--1to3" href="/news/view/id/159341">
<div class="material">
<div class="material-content">
<div class="material-title">
<span>Режим самоизоляции для пожилых саратовцев продлили до марта</span>
</div>
<div class="material-meta">
<div class="meta">
<div class="meta-item">
<div class="timestamp">
15:02 </div>
 </div>
<div class="meta-item meta-item--tag">
<div class="tag">Новости</div>
</div>
</div>
</div>
</div>
<div class="material-preview preview--picture">
<img loading="lazy" src="/f/i/news/logos/1613127783_1916530292.jpg?8424c1417306bfc54b0c6a6e76508a14" alt="Режим самоизоляции для пожилых саратовцев продлили до марта">
</div>
</div>
</a>
</div>
<div class="banner-block">
<div class="banner-layout">
<script>
                        Banner.getList(null, $('[data-open-news="61283"]'));
                    </script>
<div class="banner" data-banner-scope data-banner-id="17"></div>
<div class="banner" data-banner-scope data-banner-id="18"></div>
</div>
</div>
<div class="banner-block">
<div class="row">

<div id="yandex_rtb_R-A-136014-6"></div>
<script type="text/javascript">
                        (function (w, d, n, s, t) {
                            w[n] = w[n] || [];
                            w[n].push(function () {
                                Ya.Context.AdvManager.render({
                                    blockId: "R-A-136014-6",
                                    renderTo: "yandex_rtb_R-A-136014-6",
                                    async: true
                                });
                            });
                            t = d.getElementsByTagName("script")[0];
                            s = d.createElement("script");
                            s.type = "text/javascript";
                            s.src = "//an.yandex.ru/system/context.js";
                            s.async = true;
                            t.parentNode.insertBefore(s, t);
                        })(this, this.document, "yandexContextAsyncCallbacks");
                    </script>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
                $(document).ready(function () {
                    if ($(News.selectors.listItems).length >= 30) {
                        $('[data-news-next]').show();
                        Banner.getList(null, $('[data-news-common-block]'))
                    }
                });
            </script>
<div style="display: none" class="btn-reload" data-news-next="1" data-news-source="/news/archive/">Загрузить еще
<div class="reload-icon reload-animation">
<svg width="100%" height="100%" viewBox="0 0 98 90">
<g fill="none">
<path fill="nonzero" d="M0 0h98v90H0z"></path>
<path fill="#FFF" d="M48 12.015c-15.34.461-28.396 11.472-31.375 26.611-3.04 15.444 5.252 30.886 19.806 36.882 14.553 5.997 31.316.879 40.039-12.224 8.722-13.103 6.976-30.542-4.171-41.655l2.824-2.833c12.498 12.46 14.456 32.014 4.676 46.705-9.78 14.69-28.574 20.429-44.892 13.705C18.589 72.483 9.292 55.17 12.7 37.854 16.049 20.839 30.747 8.476 48 8.014V0l10 10-10 10v-7.985z"></path>
</g>
</svg>
</div>
</div>
<div class="banner banner-aside banner--desktop" data-banner-scope data-banner-id="13"></div>
</div>
<script>
                $(document).ready(function () {
                    if (bannerServices) {
                        bannerServices.setInNews();
                    }
                });
            </script>
<div class="sidebar">
<div class="banner-block row">
<div class="col-xs-12 col-sm-4 col-md-12 col-lg-12" data-banner-position="right">
<div class="banner banner-aside" data-banner-scope data-banner-id="1"></div>
<div class="banner banner-aside" data-banner-scope data-banner-id="2"></div>
</div>
</div>
</div>
</div>
</div>
<footer class="page-footer">
<div class="footer-wrap">
<div class="footer-contacts">
<div class="footer-contacts__box">
<span>ИА «Свободные новости. FreeNews-Volga»</span>
<span>Учредитель — ООО «Издательский дом «Энергия»</span>
</div>
<div class="footer-contacts__box">
<span>Адрес редакции:
<a href="https://yandex.ru/maps/-/CCw54E6D" target="_blank">410012, г. Саратов, Киселева, 47</a>
</span>
<span>Телефон редакции: +7 (8452) 27-31-18</span>
</div>
<div class="footer-contacts__box">
<span>Главный редактор: Иванова Елена Валериевна</span>
</div>
<div class="footer-rating">
<img src="/tpl/images/18.svg">
</div>
</div>
<div class="footer-legal">
<div class="footer-legal__box">Cвидетельство о регистрации СМИ Эл № ФС77-55851 от 30 октября 2013 года,
выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций.
</div>
<div class="footer-legal__box">
<a href="/legal/">Правовая информация</a>
</div>
<div class="footer-typo">Нашли ошибку? Выделите ее и нажмите
<b>ctrl + enter</b>
</div>
<div class="footer-legal__counters">
<div class="footer-legal__counters">
<div class="yandex">
<a target="_blank" href="https://webmaster.yandex.ru/sqi?host=fn-volga.ru">
<img width="88" height="31" alt="" border="0" src="https://yandex.ru/cycounter?fn-volga.ru&amp;theme=light&amp;lang=ru">
</a>
</div>
<div class="live">

<script type="text/javascript">
                            document.write("<a href='//www.liveinternet.ru/click' " +
                                "target=_blank><img src='//counter.yadro.ru/hit?t12.1;r" +
                                escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
                                    ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                                    screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                                ";h" + escape(document.title.substring(0, 150)) + ";" + Math.random() +
                                "' alt='' title='LiveInternet: показано число просмотров за 24" +
                                " часа, посетителей за 24 часа и за сегодня' " +
                                "border='0' width='88' height='31'><\/a>")
                        </script>
</div>
<div class="rambler">
<a href="https://metrika.yandex.ru/stat/?id=18660169&amp;from=informer" target="_blank" rel="nofollow">
<img src="https://informer.yandex.ru/informer/18660169/3_0_2086ECFF_0066CCFF_1_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="18660169" data-lang="ru">
</a>
</div>
</div>

<script type="text/javascript">
                    (function (m, e, t, r, i, k, a) {
                        m[i] = m[i] || function () {
                            (m[i].a = m[i].a || []).push(arguments)
                        };
                        m[i].l = 1 * new Date();
                        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
                    })
                    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                    ym(18660169, "init", {
                        id: 18660169,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true
                    });
                </script>
<noscript>
                    <div><img src="https://mc.yandex.ru/watch/18660169" style="position:absolute; left:-9999px;"
                              alt=""/></div>
                </noscript>

<script type="text/javascript">
                    var _tmr = window._tmr || (window._tmr = []);
                    _tmr.push({id: "2280883", type: "pageView", start: (new Date()).getTime()});
                    (function (d, w, id) {
                        if (d.getElementById(id)) return;
                        var ts = d.createElement("script");
                        ts.type = "text/javascript";
                        ts.async = true;
                        ts.id = id;
                        ts.src = "https://top-fwz1.mail.ru/js/code.js";
                        var f = function () {
                            var s = d.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(ts, s);
                        };
                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else {
                            f();
                        }
                    })(document, window, "topmailru-code");
                </script>
<noscript>
                    <div>
                        <img src="https://top-fwz1.mail.ru/counter?id=2280883;js=na"
                             style="border:0;position:absolute;left:-9999px;" alt="Top.Mail.Ru"/>
                    </div>
                </noscript>

</div>
</div>
<div class="footer-developer">
<a href="https://nopreset.ru" target="_blank">Создание сайта – nopreset</a>
</div>
</div>
</footer>
<script src="//static-login.sendpulse.com/apps/fc3/build/loader.js" sp-form-id="ec1b298eadfbe95ef1a85c574df128ccaf3aa0129931a91da173dce137b8ff1e"></script>
<script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
</body>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none">
<symbol id="inst" width="100%" height="100%" viewBox="0 0 18 18">
<path d="M4 0h10a4 4 0 014 4v10a4 4 0 01-4 4H4a4 4 0 01-4-4V4a4 4 0 014-4zm0 2a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V4a2 2 0 00-2-2H4zm5 12A5 5 0 119 4a5 5 0 010 10zm0-2a3 3 0 100-6 3 3 0 000 6zm4.8-9h.4a.8.8 0 01.8.8v.4a.8.8 0 01-.8.8h-.4a.8.8 0 01-.8-.8v-.4a.8.8 0 01.8-.8z" fill="nonzero" fill-rule="nonzero" />
</symbol>
<symbol id="facebook" max-width="100%" max-height="100%" viewBox="0 0 9 17">
<path d="M5.667 5.667v-1.7c0-.737.17-1.134 1.36-1.134H8.5V0H6.233C3.4 0 2.267 1.87 2.267 3.967v1.7H0V8.5h2.267V17h3.4V8.5H8.16l.34-2.833H5.667z" fill-rule="evenodd" fill="nonzero" />
</symbol>
<symbol id="ok" max-width="100%" max-height="100%" viewBox="0 0 12 20">
<path d="M7.666 14.137a9.4 9.4 0 0 0 2.918-1.208 1.472 1.472 0 0 0-1.569-2.49 6.378 6.378 0 0 1-6.76 0 1.47 1.47 0 1 0-1.566 2.49 9.344 9.344 0 0 0 2.914 1.208L.794 16.946a1.466 1.466 0 0 0 0 2.08c.286.286.663.43 1.039.43.377 0 .753-.144 1.04-.43l2.762-2.761 2.76 2.76a1.47 1.47 0 0 0 2.08-2.08l-2.81-2.808zm-2.031-4.095a5.026 5.026 0 0 0 5.022-5.02A5.027 5.027 0 0 0 5.635 0 5.027 5.027 0 0 0 .613 5.022a5.027 5.027 0 0 0 5.022 5.02zm0-7.1c-1.146 0-2.08.933-2.08 2.08 0 1.145.934 2.08 2.08 2.08 1.147 0 2.08-.935 2.08-2.08 0-1.147-.933-2.08-2.08-2.08z" fill="nonzero" fill-rule="evenodd" />
</symbol>
<symbol id="telegram" max-width="100%" max-height="100%" viewBox="0 0 19 16">
<path d="M17.78.063L.405 6.83c-.563.22-.53 1.026.05 1.198L4.87 9.332l1.648 5.227a.758.758 0 0 0 1.265.303l2.283-2.33 4.48 3.286a.935.935 0 0 0 1.467-.562L18.98 1.078a.894.894 0 0 0-1.2-1.015zm-3.072 3.51L7.087 10.74a.446.446 0 0 0-.136.277l-.294 2.774c-.009.09-.128.103-.154.015L5.296 9.67a.449.449 0 0 1 .175-.498l9.001-5.938c.207-.136.42.167.236.338z" fill="nonzero" fill-rule="evenodd" />
</symbol>
<symbol id="twitter" max-width="100%" max-height="100%" viewBox="0 0 18 15">
<path d="M17.496 2.505a7.171 7.171 0 0 1-1.803.643c-.621-1.092-1.656-1.863-2.839-2.056a4.07 4.07 0 0 0-.62-.064c-2.01 0-3.696 1.574-3.992 3.726-.03.225-.059.482-.059.706C5.877 4.53 3.985 2.666 2.921.225 2.86.096 2.743.032 2.625 0A.459.459 0 0 0 2.3.16a4.714 4.714 0 0 0-.503 3.727c-.059 0-.118-.033-.148 0-.148.032-.236.128-.266.289a4.77 4.77 0 0 0 .769 3.854.259.259 0 0 0-.207.096c-.118.097-.148.257-.118.386.325 1.38 1.241 2.505 2.424 2.987a8.849 8.849 0 0 1-3.873.578.385.385 0 0 0-.355.257c-.059.16 0 .321.118.45a9.825 9.825 0 0 0 4.553 2.088A8.597 8.597 0 0 0 6.261 15c4.553 0 8.574-3.308 9.787-8.062.088-.257.147-.546.177-.803 0-.064.03-.129.03-.193.029-.096.029-.193.059-.289a9.727 9.727 0 0 0 1.655-2.602.421.421 0 0 0-.059-.417c-.118-.16-.296-.193-.414-.129zM12.884 4.69c-.384-.065-.65-.45-.591-.868.059-.417.414-.706.798-.642.384.064.65.45.591.867-.059.418-.414.707-.798.643z" fill="nonzero" fill-rule="nonzero" />
</symbol>
<symbol id="vkontakte" max-width="100%" max-height="100%" viewBox="0 0 20 12">
<path d="M9.787 11.364h1.196s.36-.04.546-.238c.17-.183.164-.526.164-.526s-.024-1.604.72-1.84c.735-.233 1.678 1.55 2.677 2.236.755.519 1.33.405 1.33.405l2.67-.037s1.398-.086.735-1.185c-.054-.09-.386-.813-1.986-2.298-1.675-1.555-1.45-1.303.567-3.992 1.229-1.638 1.72-2.638 1.567-3.066-.147-.408-1.05-.3-1.05-.3L15.914.54s-.223-.03-.389.069c-.161.096-.265.322-.265.322S14.785 2.2 14.15 3.278c-1.34 2.274-1.875 2.394-2.094 2.253-.51-.33-.382-1.322-.382-2.028 0-2.204.334-3.123-.65-3.36-.328-.08-.569-.132-1.405-.14-1.073-.011-1.981.003-2.496.255-.342.167-.606.54-.445.562.199.027.649.122.888.446.308.42.297 1.362.297 1.362s.177 2.594-.413 2.916c-.406.221-.962-.23-2.156-2.293C4.682 2.194 4.22 1.025 4.22 1.025S4.131.807 3.972.69C3.78.55 3.51.504 3.51.504L.652.523S.223.534.065.72c-.14.166-.01.51-.01.51s2.237 5.234 4.77 7.873c2.324 2.419 4.962 2.26 4.962 2.26" fill="nonzero" fill-rule="evenodd" />
</symbol>
<symbol id="youtube" max-width="100%" max-height="100%" viewBox="0 0 19 14">
<path d="M15.785 0H3.215C1.44 0 0 1.532 0 3.422v7.156C0 12.468 1.44 14 3.215 14h12.57C17.56 14 19 12.468 19 10.578V3.422C19 1.532 17.56 0 15.785 0zm-5.167 8.952L7.824 10.41V4.577l2.794 1.458 2.794 1.459-2.794 1.458z" fill="nonzero" fill-rule="nonzero" />
</symbol>
<symbol id="icon-search" max-width="100%" max-height="100%" viewBox="0 0 16 17">
<path d="M4.542 13.872l-2.835 2.835a1 1 0 0 1-1.414-1.414l2.7-2.7a7.5 7.5 0 1 1 1.549 1.28zM8.5 13a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z" fill="nonzero" fill-rule="nonzero" />
</symbol>
<symbol id="comm" max-width="100%" max-height="100%" viewBox="0 0 14 11">
<path d="M1 0h12a1 1 0 0 1 1 1v10L9.475 8.285A2 2 0 0 0 8.446 8H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1z" fill="#9CE0FF" fill-rule="nonzero" />
</symbol>
<symbol id="views" max-width="100%" max-height="100%" viewBox="0 0 17 10">
<path d="M.865 5A9 9 0 0 1 8.93 0a9 9 0 0 1 8.064 5 9 9 0 0 1-8.064 5A9 9 0 0 1 .865 5zM9 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" fill="#9CE0FF" fill-rule="evenodd" />
</symbol>
<symbol id="play" max-width="100%" max-height="100%" viewBox="0 0 60 60">
<path d="M30 60C13.431 60 0 46.569 0 30 0 13.431 13.431 0 30 0c16.569 0 30 13.431 30 30 0 16.569-13.431 30-30 30zm0-2c15.464 0 28-12.536 28-28S45.464 2 30 2 2 14.536 2 30s12.536 28 28 28zm8.796-25.314L25.93 39.457A2 2 0 0 1 23 37.687V23.47a2 2 0 0 1 3.002-1.731l12.864 7.448a2 2 0 0 1-.07 3.5z" fill="#FFF" fill-rule="nonzero" />
</symbol>
<symbol id="close" max-width="100%" max-height="100%" viewBox="0 0 28 28">
<path d="M14.919 13.5L26.29 24.872l.709.71L25.581 27l-.71-.71L13.5 14.92 2.128 26.29l-.71.709L0 25.581l.71-.71L12.08 13.5.71 2.128 0 1.418 1.419 0l.71.71L13.5 12.08 24.872.71l.71-.709L27 1.419l-.71.71L14.92 13.5z" fill="nonzero" fill-rule="nonzero" />
</symbol>
<symbol id="like" max-width="100%" max-height="100%" viewBox="0 0 60 60">
<path d="M11.838 0h33.974c6.513 0 11.839 5.326 11.839 11.838v33.974c0 6.513-5.326 11.839-11.839 11.839H11.838C5.326 57.65 0 52.325 0 45.812V11.838C0 5.326 5.326 0 11.838 0zm16.99 19.648c-2.174-3.946-4.343-5.917-8.682-5.917-4.795 0-8.681 3.535-8.681 7.887 0 7.888 8.681 15.776 17.363 23.664 8.681-7.888 17.363-15.776 17.363-23.664 0-4.352-3.891-7.887-8.682-7.887-4.343 0-6.512 1.97-8.681 5.917z" fill="#FC714E" fill-rule="evenodd" />
</symbol>
<symbol id="lol" max-width="100%" max-height="100%" viewBox="0 0 60 60">
<g fill="none" fill-rule="evenodd">
<path d="M12.091 0h34.706c6.652 0 12.094 5.443 12.094 12.091v34.706c0 6.652-5.442 12.094-12.094 12.094H12.091C5.443 58.891 0 53.45 0 46.797V12.091C0 5.443 5.443 0 12.091 0zm17.355 33.88H11.94c0 9.669 7.837 17.506 17.506 17.506 9.665 0 17.503-7.837 17.503-17.506H29.446zm12.645-2.769c6.519 0 11.803-5.284 11.803-11.802 0-6.519-5.284-11.803-11.803-11.803-6.518 0-11.802 5.284-11.802 11.803 0 6.518 5.284 11.802 11.802 11.802zm-25.294 0c6.519 0 11.803-5.284 11.803-11.802 0-6.519-5.284-11.803-11.803-11.803-6.518 0-11.803 5.284-11.803 11.803 0 6.518 5.285 11.802 11.803 11.802z" fill="#9CE0FF" />
<path d="M44.257 43.211H14.631c3.103 4.912 8.578 8.172 14.815 8.172s11.711-3.26 14.811-8.172z" fill="#FC714E" />
<path d="M42.091 22.763a3.454 3.454 0 1 1 0-6.909 3.454 3.454 0 0 1 0 6.909zm-25.294 0a3.454 3.454 0 1 1 0-6.909 3.454 3.454 0 0 1 0 6.909zm24.82-2.903a1.131 1.131 0 1 0 0-2.263 1.131 1.131 0 0 0 0 2.263zm-24.82 0a1.131 1.131 0 1 0 0-2.263 1.131 1.131 0 0 0 0 2.263z" fill="#373435" />
</g>
</symbol>
<symbol id="sad" max-width="100%" max-height="100%" viewBox="0 0 60 60">
<g fill="none" fill-rule="evenodd">
<path d="M12.3 0h35.3c6.765 0 12.3 5.443 12.3 12.095v34.711c0 6.653-5.535 12.096-12.3 12.096H12.3C5.535 58.902 0 53.459 0 46.806V12.095C0 5.443 5.535 0 12.3 0z" fill="#9CE0FF" />
<ellipse fill="#000" cx="22.153" cy="22.495" rx="4.953" ry="4.87" />
<ellipse fill="#FFF" cx="20.501" cy="21.915" rx="1.149" ry="1.13" />
<ellipse fill="#000" cx="37.747" cy="22.495" rx="4.953" ry="4.87" />
<ellipse fill="#FFF" cx="36.095" cy="21.915" rx="1.149" ry="1.13" />
<path d="M12.858 48.87c0 .387-.32.701-.713.701a.708.708 0 0 1-.713-.701c0-5.028 2.073-9.58 5.424-12.875a18.618 18.618 0 0 1 13.094-5.334c5.113 0 9.743 2.038 13.093 5.334 3.351 3.295 5.425 7.847 5.425 12.875 0 .387-.32.701-.713.701a.708.708 0 0 1-.714-.701c0-4.641-1.913-8.843-5.005-11.884a17.187 17.187 0 0 0-12.086-4.923c-4.72 0-8.994 1.882-12.086 4.923-3.092 3.041-5.006 7.244-5.006 11.884z" fill="#000" />
</g>
</symbol>
<symbol id="fuu" max-width="100%" max-height="100%" viewBox="0 0 60 60">
<g fill="none" fill-rule="evenodd">
<path d="M12.147 0H47.01c6.682 0 12.147 5.465 12.147 12.147V47.01c0 6.682-5.465 12.15-12.147 12.15H12.147C5.465 59.16 0 53.692 0 47.01V12.147C0 5.465 5.465 0 12.147 0z" fill="#FC714E" />
<g transform="translate(16.364 16.364)">
<circle fill="#000" cx="5.515" cy="6.229" r="4.89" />
<circle fill="#FFF" cx="3.884" cy="5.645" r="1.135" />
</g>
<g transform="translate(30 16.364)">
<circle fill="#000" cx="7.279" cy="6.229" r="4.89" />
<circle fill="#FFF" cx="5.648" cy="5.645" r="1.135" />
</g>
<path d="M9.21 40.072a.703.703 0 0 1-.987.117.706.706 0 0 1-.12-.987c4.205-5.34 8.932-3.794 15.049-1.792 6.63 2.17 15 4.91 26.124-.785a.703.703 0 0 1 .944.305c.177.346.04.77-.305.944-11.649 5.961-20.324 3.122-27.197.872-5.593-1.83-9.91-3.242-13.508 1.326zM26.25 18.545a.705.705 0 0 1-.363 1.361l-10.085-2.702a.704.704 0 0 1 .365-1.359l10.083 2.7zM32.703 19.906a.705.705 0 0 1-.363-1.36l10.083-2.7c.373-.101.76.122.862.496a.705.705 0 0 1-.5.862l-10.082 2.702z" fill="#000" />
</g>
</symbol>
<symbol id="fire" max-width="100%" max-height="100%" viewBox="0 0 60 60">
<path d="M12.263 0h35.19c6.745 0 12.264 5.518 12.264 12.263v35.19c0 6.745-5.519 12.264-12.263 12.264H12.263C5.518 59.717 0 54.198 0 47.454V12.263C0 5.518 5.518 0 12.263 0zM30.86 11.189c-.85-1.203-3.213-3.82-4.286-4.323.882 10.824-5.272 13.388-5.496 24.802-2.44-2.35.582-7.553-2.316-11.984l-.161.38c-1.824 5.193-1.879 4.058-3.65 8.382-1.284 3.131-2.25 6.741-1.669 10.581.905 5.97 6.238 12.74 11.055 13.373-2.63-3.87-.991-7.463.595-11.604 1.343-3.507 2.791-7.2 4.32-10.483.851.964 3.71 8.657 4.457 10.517 2.273 5.647 2.826 7.343.434 11.652 6.55-1.644 11.044-8.47 10.86-15.775-.267-10.577-5.081-14.862-4.975-21.538-1.79 1.059-2.996 4.475-3.612 7.232-.813 3.642-.593 6.022-.787 9.714-2.182-4.513.447-13.545-4.77-20.926z" fill="#FC714E" fill-rule="evenodd" />
</symbol>
<symbol id="share" max-width="100%" max-height="100%" viewBox="0 0 18 19">
<g fill="nonzero" fill-rule="nonzero">
<path d="M4 14a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM14 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM14 19a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
<path d="M13.703 6.09l-1.258-1.555-5.243 4.243v1.555l5.243 4.242 1.258-1.555-4.282-3.465z" />
</g>
</symbol>
<symbol id="camera" max-width="100%" max-height="100%" viewBox="0 0 24 21">
<path d="M20.005 21H3.999a3.996 3.996 0 0 1-3.995-3.995L0 6.998A3.996 3.996 0 0 1 3.995 3h.41c1.02 0 1.998-.405 2.72-1.127L8.17.827A2.822 2.822 0 0 1 10.166 0h3.666c.75 0 1.469.298 1.998.829L16.87 1.87A3.846 3.846 0 0 0 19.59 3H20a3.996 3.996 0 0 1 3.995 3.995L24 17.002A3.996 3.996 0 0 1 20.005 21zm2.991-14.005A3 3 0 0 0 20.001 4h-.41a4.814 4.814 0 0 1-3.43-1.423l-1.038-1.041A1.814 1.814 0 0 0 13.832 1h-3.666c-.487 0-.945.19-1.289.534L7.831 2.581A4.815 4.815 0 0 1 4.405 4h-.41c-.8 0-1.552.31-2.118.877A2.974 2.974 0 0 0 1 6.998l.004 10.006A3 3 0 0 0 3.999 20h16.006c.8 0 1.552-.311 2.118-.878a2.975 2.975 0 0 0 .877-2.12l-.004-10.006zM12 17.504a6 6 0 0 1-6-6.002 6 6 0 1 1 6 6.002zM12 6.5c-2.757 0-5 2.244-5 5.001a5.006 5.006 0 0 0 5 5.001c2.757 0 5-2.243 5-5A5.006 5.006 0 0 0 12 6.5z" fill="#FFF" fill-rule="nonzero" />
</symbol>
<symbol id="calendar" max-width="100%" max-height="100%" viewBox="0 0 38 35">
<path fill="nonzero" d="M30 5H8v2a1 1 0 1 1-2 0V5H3a1 1 0 0 0-1 1v26a1 1 0 0 0 1 1h32a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-3v2a1 1 0 0 1-2 0V5zm2-2h3a3 3 0 0 1 3 3v26a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h3V1a1 1 0 1 1 2 0v2h22V1a1 1 0 0 1 2 0v2zM7 24h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm7 0h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm7 0h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm-7-7h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm-7-7h24a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2zm14 7h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm7 0h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1z" />
</symbol>
</svg>
<div class="modal fade" id="search" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="btn btn-close" data-dismiss="modal" aria-label="Close">
<div class="symbol symbol--close">
<svg>
<use xlink:href="#close"></use>
</svg>
</div>
</div>
<div class="modal-body">
<div class="search-container">
<form class="search__form" id="search_news_form" method="" action="">
<label class="search__form-label">Начните печатать</label>
<input class="search__form-field" type="text" id="search_news" autofocus>
<label class="search__form-calendar" data-calendar-scope for="calendar">
<div class="calendar">
<svg>
<use xlink:href="#calendar"></use>
</svg>
</div>
<div class="field-calendar"></div>
<input class="input-calendar" type="text" id="search_calendar" data-range="false" name="calendar" value="Искать по дате">
<div class="btn btn-delete" style="display: none">Сбросить даты</div>
</label>
</form>
<div class="wrap">
<div class="post-block" data-search-block>
</div>
<div hidden class="btn-reload" data-news-search-next="2" data-news-source="/search/index?searchText=">Загрузить еще
<div class="reload-icon reload-animation">
<svg width="100%" height="100%" viewBox="0 0 98 90">
<g fill="none">
<path fill="nonzero" d="M0 0h98v90H0z"></path>
<path fill="#FFF" d="M48 12.015c-15.34.461-28.396 11.472-31.375 26.611-3.04 15.444 5.252 30.886 19.806 36.882 14.553 5.997 31.316.879 40.039-12.224 8.722-13.103 6.976-30.542-4.171-41.655l2.824-2.833c12.498 12.46 14.456 32.014 4.676 46.705-9.78 14.69-28.574 20.429-44.892 13.705C18.589 72.483 9.292 55.17 12.7 37.854 16.049 20.839 30.747 8.476 48 8.014V0l10 10-10 10v-7.985z"></path>
</g>
</svg>
</div>
</div>
<div class="search__message" data-search-empty hidden>К сожалению мы ничего не нашли по вашему запросу 😢
</div>
</div>
<div class="sidebar"></div>
</div>
</div>
</div>
</div>
</div>
</html>
